.review-container .row {
    display: flex;
    justify-content: center;
    

}
.review-header{
    
    padding: 3px 10px;
    width: 125px;
    border-bottom: #512806 solid;

}
.reviews{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid #575555;
    border-radius: 5px;
    gap: 10px;
    overflow-x: auto;

    scrollbar-width: none;
    padding: 20px;


}
.review-item{
    border: 1px solid rgb(103, 103, 103);
    width: 300px;
    height: 200px;
    display: grid;
    place-items: center;
    background-color: rgb(119, 100, 118);
 
    border-radius: 5px;
  

}
.user-avatar{
    width: 30px;
    height: 30px;
}
.user-avatar>img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.add_review{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.add_review input{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 10px 20px;
}

.add_review input::placeholder {
    color: #040e26;
  }
  .add_review button{
    background-color: #040e26;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
  }
.review-row{
 
    margin: 30px;
}
.review-Col{
    border: 1px solid rgb(103, 103, 103);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
    width: 50%;
    gap: 10px;
}
@media (max-width: 768px) {
    .add_review {
     
        
        flex-direction: column;
    }
    .review-Col{
width: 80%;        
    }
    .reviews{
        width: 80%;
        flex-direction: column;
       
    
    
    }
}
