/* Cart.css */

.cart-head {
    margin: 20px 0 20px 30px; 
   
    color: rgb(3, 84, 31);
}

.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    width: 80%;
}

.custom-table {

    width: 100%;
    border-collapse: collapse; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
}
.qty-td button{
    width: 20px;
background-color: transparent;
color: green;
border: none;
border-radius: none;
font-size: 20px;
}
.qty-td input {
    width: 30px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    border: none;

}




.custom-table img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.custom-table .edit-icon,
.custom-table .delete-icon {
    cursor: pointer;
    color: #007bff; /* Change the color as needed */
}

.custom-table .edit-icon:hover,
.custom-table .delete-icon:hover {
    color: #0056b3; /* Darker color on hover */
}
.table-Head{
    height: 80px;
    background-color: #007bff !important;
    color: white;

}
.productcell {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.item-link{
    list-style: none;
}
.t-body{
    padding-top: 20px;
}