/* .categoryListing styles */
.categoryListing {
  padding: 30px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
    
   
    border: 1px solid #ccc; /* Add border style */
    border-radius: 4px;
    padding: 30px;
    overflow: auto;
  }
  
  .categoryListing h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .categoryListing p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .products {
    margin-bottom: 20px;
  }
  
  .custom-table-wrapper {
    overflow: auto; /* Enable overflow */
    max-height: 300px; /* Set a maximum height for the table container */
  }
  
  .custom-table {
    width: 100%;
  
  }
  
  
  .c-td{
    text-align: center;
    

  }
  
  .tabel-row {
    background-color: rgba(224, 225, 225, 0.747);
    border-radius: 5px;
    border: 1px solid black !important;
  }
  
  .add-category-form {
    margin-bottom: 20px;
  }
  
  .category-input {
  
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .add-category-btn {
  margin-left: 10px;
    padding: 8px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-category-btn:hover {
    background-color: #0056b3;
  }
  
  .add-category-btn:focus {
    outline: none;
  }
  @media (max-width: 776px) {
    .categoryListing {
    
     
      width: 90%;
   
     
     }
     .add-category-btn {
      margin-top: 10px;
      margin-left: 0;
   
     }
    
  }
  