/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Edit Product Form Styles */
.edit-prdut {
  background-color: #fff;
  z-index: 1000;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  max-height: 90vh; /* Adjusted for better scrolling within viewport */
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto; /* Enables scrolling for long forms */
  display: flex;
  flex-direction: column;
}

/* Header Styles */
.page-hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(158, 152, 152, 0.2), 0 6px 20px rgba(221, 214, 214, 0.19);
}

.page-hd h3 {
  margin: 0;
}

/* Thumbnail Styles */
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.thumb img {
  max-width: 70%;
  height: auto;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.thumb img:hover {
  transform: scale(1.05);
}

/* Form Container Styles */
.page-cont {
  display: flex;
  flex-direction: column; /* Better layout on small screens */
  gap: 30px;
}

/* General Section Styles */
.general {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.general h3 {
  margin-top: 0;
}

/* Input Field Styles */
.inpt-fld {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between fields */
}

.inpt-fld label {
  margin-bottom: 5px;
  font-weight: bold;
}

.inpt-fld input,
.inpt-fld select {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

.inpt-fld input:focus,
.inpt-fld select:focus {
  border-color: #007bff;
  outline: none;
}

/* Adjustments for Different Input Types */
.inpt-fld input[name="description"] {
  padding: 20px;
  height: auto; /* Adjusts height based on content */
}

/* Submit Button Styles */
.sum-btn {
  display: flex;
  justify-content: center;
}

.sum-btn button {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  color: #f5f5f5;
  background-color: #1d3d68;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sum-btn button:hover {
  background-color: #0056b3;
}
