/* ProductList.css */

.pd-container {
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

}

.pd-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


.products-div {

  padding: 30px;
display: grid;
place-items: center;
max-height: 600px; /* Set the maximum height for the container */
overflow: auto; 
scroll-behavior: smooth;
}

.p-outer-div{
border: 1px solid rgb(86, 86, 86);
width: 100%;
border-radius: 10px;
}
.custom-p-table {
  width: 100%;
  border-collapse: collapse;
}


.custom-p-table th,
.custom-p-table td {
  text-align: center;

}
.seracch-p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(132, 131, 131, 0.449);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.link-div{
  border: 1px solid rgba(91, 9, 9, 0.449);
 padding: 10px;
 border-radius: 8px;

}
.add-link{
  text-decoration: none;
  color: rgb(45, 91, 131);

}
.inpu-div input{
  width: 300px;
  padding: 10px;
  border-radius: 8px;

}
.s-btn{
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  background-color: rgb(46, 166, 46);
  outline: none;



}
.pdata-row {
  border-bottom: 10px solid rgb(236, 236, 236) !important;
  padding: 5px;
  background-color: rgb(165, 183, 204);
}

.p-imag {
  max-width: 50px;
  margin-top: 15px;
}



.custom-p-table .action-icons > * {
  margin: 0 5px;
  cursor: pointer;
  text-align: center;
}

.custom-p-table .action-icons > *:hover {
  
  color: red;
}
.add-p-btn{
display: grid;
place-content: center;
margin: 10px;
}
.p-btn{
  width: 300px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: orangered;
  color: white;
}.custom-p-table .action-icons > *:hover {
  color: red;
}

/* Customizing the scrollbar */
.products-div::-webkit-scrollbar {
  width: 10px;
}

.products-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.products-div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.products-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.product-actions> span{ 
  margin-right: 10px;

}