.App{
    display: flex;
    flex-direction: column;
    height: fit-content;

    }
   
    .PanelHeader{
      width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 20px; 
background-color: rgb(6, 25, 60);       
    }
    .profile{
      display: flex;
      flex-direction: row !important; 
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: rgb(255, 255, 255);
    }
    .profile span{
      font-size: 30px;
      color: rgb(20, 197, 20);
    }
    .header-input, .profile_setting{
      position: relative;
    }
    .searchIcon{
      position: absolute;
      top: 9px;
      left: 90%;
      color: green;
    }
    .header-input #Search{
      width: 300px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid rgb(152, 151, 151);
      
    }
    .header-input #Search::placeholder {
      color: green;
      padding-left: 20px;
    }
    .header-right .icon-user{
      font-size: 25px;
      color: rgb(242, 242, 242);
      margin-left: 4px;
     
    }
    .icon-Home{
      color: rgb(236, 236, 236);
      font-size: 28px;
      margin-bottom: 2px;
      margin-right: 10px;

    }
    .profile_setting{
        display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 30px 20px ;
      position: absolute;
      top:-4%;
      right: -2%;
      transform: translate(-50%,50%);
      border-radius: 10px;
    }
    .profileLinks{
      text-decoration: none;
      color: black;
   margin-bottom: 10px;
    }
    .profileLinks svg{
   margin-right: 10px ;


    }
    .PanelFooter{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(224, 224, 224, 0.19);
      padding: 4px 20px  4px 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        height: 50px;
    }
   
 .toggleButton{
        text-align: center;
       
        margin-left: 80px;
        background-color: white;
        border-radius: 5px;
        transform: translate(-50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 50px; 
        height: 30px;
        position: sticky;
      }
    
    .PanelPages{
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
        width: 80%;
        height: fit-content;

      }
  
  
   
   
    .items  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 20px;
      gap: 10px;
      margin: 10px;
    }
    .profile{
      display: flex;
      flex-direction: column;
      
    }
    
   
    
    @media  (max-width: 768px) {
      .toggleButton{  
        margin-left: 40px;       
      }
      .PanelHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      .header-right{
        display: none;
      }
        .PanelSideBar .options:last-child span:last-child {
            display: none;
          }
          .PanelSideBar .options {
           font-size: 25px;
          }
 }
    @media  (max-width: 577px) {
      .toggleButton{  
        margin-left: 35px;       
        margin-bottom: 20px;       
      }
        .sidebarAndPage{
            display: flex;
          flex-direction: column;
          flex: 1;
          }
        .PanelSideBar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items:center ;
            height:0;
        } 
        .PanelSideBar .toggleButton{
           display: none;
          }
 }
          