* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #44A08D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #303536, #b4cac6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89afa0, #707776);

     height: fit-content;
    }
img {
  width: 100%;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
p, a, li, span {
  font-family: Arial, sans-serif; 
}