* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background:linear-gradient(rgb(59, 129, 148),rgb(26, 120, 81)) ;

     height: fit-content;
}
img {
  width: 100%;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
p, a, li, span {
  font-family: Arial, sans-serif; 
}